*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(232, 232, 233, 0.621), rgb(114, 26, 26));
}

.container
{
    border: 2px solid;
    border-radius: 10px;
    width: 60%;
    padding: 20px 25px;
    box-shadow: 5px 15px 23px;
}

